# Uncomment all the fields below when using it in the actual backend application.
# This file is supposed to be plased under the backend folder

# MONGODB_URI="url to your mongodb app (with cluster password)"
# PORT="the port you want the backend server to use (must be integer value)"

# JWT_SECRET=mysecretkey
# NODE_ENV=development

# CLOUDINARY_CLOUD_NAME="name provided by the cloudinary app (without quotes)"
# CLOUDINARY_API_KEY="cloudinary api key (without quotes)"
# CLOUDINARY_API_SECRET="api secret provided by the cloudinary app (without quotes)"